* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-blue: hsl(212, 45%, 89%);
    --medium-blue: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);
}

body * {
    font-family: "Inter", sans-serif;
    color: var(--dark-blue);
    text-align: center;
}

body{
    background-color: var(--light-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 320px;
    height: 499px;  
    background-color: var(--white);
    border-radius: 15px;
    
}

.content img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px;
}

.content h1{
    font-size: 20px;
    font-weight: 900;
    margin: 5px 20px;
}

.content p{
    font-size: 15px;
    font-weight: 250;
    margin: 20px;
}
